<div class="gridContainerChat">
<ul class="messageCon">
    {{#each messages}}
        {{#if isMe}}
            <li class="mine"> <em class="author">{{author}}</em> <em class="date">{{date}}</em><br> {{text}}</li>
            {{else}}
            <li class="others"> <em class="author">{{author}}</em> <em class="date">{{date}}</em><br> {{text}}</li>
            {{/if}}
    {{/each}}
</ul>
<form class="form" id="newMessage" method="post" action="/messages?author={{author}}">
<textarea
        class="textChat"
        name="text"
        id="text"
        placeholder="Enter your message here...">
</textarea>
<input type="hidden" value="{{author}}" name="author">
<button class="chatButton" type="submit">Send</button>
</form>
</div>
